body {
    margin: 0;
    font-family: cursive;
}

.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 64px;
    font-size: 38px;
    gap: 24px;
}

.headRight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
    text-decoration: none;
    font-size: 20px;
}

.headRight a {
    text-decoration: none;
    margin-left: 18px;
    color: white;
}

.white {
    filter: invert();
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.menu {
    margin: 32px;
}

.mainContainer h1 {
    margin-left: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    color: rgb(65, 65, 65);
}

.comment {
    margin-left: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(65, 65, 65);
}

.mainImg {
    height: 152px;
    width: 100%;
    object-fit: cover;
}

.dishes {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(172, 172, 172, 0.2);
    border-radius: 13px;
    padding: 16px;
    width: 65%;
    background-color: rgb(243, 243, 243);
}

.dishes h2 {
    text-decoration: underline;
}

.dishes span {
    color: rgb(87, 87, 87);
}

.burger img {
    height: 88px;
    width: 88px;
    object-fit: cover;
    margin-top: 32px;
    position: absolute;
    right: 50%;
}

.position {
    display: flex;
}

.plusButton {
    height: 40px;
    width: 180px;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    border: 2px solid rgba(172, 172, 172, 0.2);
    border-radius: 13px;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.plus img {
    height: 40px;
    width: 40px;
    border: 2px solid rgba(172, 172, 172, 0.2);
    border-radius: 13px;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.chicken img {
    height: 88px;
    width: 88px;
    object-fit: cover;
    position: absolute;
    margin-top: 32px;
    right: 50%;
}

.shoppingBasket {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    position: fixed;
    right: 0;
    top: 110px;
    bottom: 0;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.shoppingBasket h2 {
    width: 100%;
    margin-block-start: 1.8em;
    height: 88px;
}

.shoppingBasket span {
    color: rgb(87, 87, 87);
}

.basket {
    height: 56px;
    width: 56px;
}

.basketInsert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.insert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
}

.sum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result {
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

footer {
    height: 152px;
    width: 100%;
    background-color: rgb(224, 224, 224);
}